.about {
	ul {
		list-style: none;
	}
	@include min-screen($xs) {
		.about-label {
			display: none;
		}

		h2 {
			font-size: 28px;
			margin: 5% 0 10%;
		}

		.about-description {
			width: 100%;
			padding-left: 9%;
			border-left: 1px solid $grey6;
			float: left;
			position: relative;
			.main {
				padding-bottom: 5%;
			}
		}
	}

	@include min-screen($md) {
		h2 {
			font-size: 2.25rem;
			margin-bottom: 5%;
		}
		.about-label {
			width: 20%;
			display: block;
			position: relative;
			float: left;
			padding: 5% 0;
		}

		.about-description {
			width: 70%;
			padding: 0 0 5% 5%;
		}
	}

	ul.achievements {
		li {
			font-family: "Roboto", sans-serif;
			font-size: 13px;
			font-weight: 200;
			line-height: 20px;
			letter-spacing: 0.08em;
			padding: 17px 0;
			border-bottom: 1px solid $darkgrey2;
			&:last-of-type {
				border-bottom: none;
			}
		}
	}
	p {
		font-family: "Roboto", sans-serif;
		font-size: 13px;
		font-weight: 200;
		line-height: 25px;
		letter-spacing: 0.08em;
		margin: 7% 0;
		@include min-screen($md) {
			margin: 2% 0;
		}
	}

	h2,
	h3 {
		margin-top: 5%;
		color: $darkgrey2;
	}
}