body {
	background-color:  $grey3;
}

.mask {
	// opacity: 0;
	display: none;
	position: fixed;
	z-index: $zindex-mask;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background-color: $grey3;
}