.page-content,
article.post {
	margin: 0 5% 5%;
	overflow: auto;
	position: relative;
}

.wrapper {
	@include min-screen($xs) {
		margin-top: 130px;
	}
	@include min-screen($md) {
		max-width: 1440px;
		width: 100%;
		margin: 240px auto 0;
	}

	overflow: auto;

	&.single-page {
		@include min-screen($xs) {
			margin-top: 130px;
		}
		padding: 5% 5% 0;
		margin: 240px auto 1.5%;

		@include min-screen($md) {
			margin-top: 240px;
		}
		p {
			margin: 20px 0;
		}
	}
}

ul.posts {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;

	position: relative;
	list-style: none;
	margin-bottom: 2.5%;

	li.post {
		margin: 2.5% 1.5% 1.5%;
		height: 460px;
		background-color: rgb(254, 239, 234);
		p {
			font-size: 11px;
		}
		&:nth-child(n) {
			background-color: rgb(254, 239, 234);
			a,
			p {
				color: rgb(71, 73, 70);
			}
		}

		&:nth-child(2n) {
			background-color: $grey6;
			a,
			p {
				color: #000;
			}
		}

		&:nth-child(3n) {
			background-color: rgb(244, 244, 246);
			a,
			p {
				color: #000;
			}
		}

		&.food {
			padding: 0;
			overflow: hidden;
			img {
				position: absolute;
				width: 100%;
			}
			.post-desc {
				background-color: $darkgrey2;
				p,
				a {
					color: #fff;
				}
				a {
					border-bottom: 1px dotted #fff;
				}
			}
		}
		@include min-screen($xs) {
			width: 100%;
		}
		@include min-screen($md) {
			width: 47%;
		}
		@include min-screen($lg) {
			width: 1 1 300px;
			max-width: 320px;
			transform: translateY(20px);
			opacity: 0;
			box-shadow: 0px 2px 7px #bdbdbd;
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

			&.fade-in {
				cursor: pointer;
				opacity: 1;
				transform: translateY(0);
				transition: all 0.4s;
			}

			&:hover {
				box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
					0 5px 10px rgba(0, 0, 0, 0.22);
			}
		}
	}
}