h2,
p,
span,
.footer {
	font-family: "Roboto", sans-serif;
}

.footer,
nav.site-nav a {
	font-size: 0.75rem;
	color: #fff;
}

strong {
	font-weight: 500;
}

.warning {
	font-size: 12px;
	color: #FF0000;
	font-weight: 500;
}

.strikethrough {
	text-decoration: line-through;;
}

a {
	color: $black;
	text-decoration: none;
	border-bottom: 1px solid $darkgrey2;
	-webkit-font-smoothing: antialiased;

	// .wrapper & {
	// 	background-color: $darkgrey2;
	// 	color: $grey3;
	// }

	.post-desc & {
		font-family: 'Exo', sans-serif;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.5px;
		color: $darkgrey4;

		border-bottom: none;
	}
}

a.image-url {
	text-decoration: none;
	border-bottom: none;
}

// span,
// p,
// h2 {
// 	&.korean {
// 		font-family: "source-han-sans-korean", sans-serif;
// 	}
// }

// h2.korean {
// 	display: inline-block;
// }

span,
p,
ul {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 2;
	// line-height: 25px;
	-webkit-font-smoothing: antialiased;
	// margin: 2% 0;
	letter-spacing: 0.08em;
}

h2, h3 {
	font-family: 'Cormorant Garamond', serif;
}

h2 {
	font-size: 2.25rem;
	margin-bottom: 4%;
	font-weight: 300;
	color: $darkgrey2;
}

h3 {
	font-size: 1.75rem;
}