header.site-header {
	a {
		border-bottom: none;
	}
	h1 {
		display: none;
	}
	@include min-screen($xs) {
		line-height: 130px;
	}
	@include min-screen($md) {
		line-height: 241px;
	}
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: fixed;
	z-index: $zindex-nav;

	nav {
		transition: opacity 0.2s ease-out;
		-moz-transition: opacity 0.2s ease-out;
		-o-transition: opacity 0.2s ease-out;
		-webkit-transition: opacity 0.2s ease-out;
		opacity: 1;
	}
}

.site-nav {
	@include min-screen($xs) {
		height: 100%;
		top: 50%;
		position: absolute;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	@include min-screen($md) {
		top: 0;
		position: relative;
	}
	.mobile-nav {
		@include min-screen($xs) {
			color: $darkgrey2;
		}
	}
}

nav.nav-list {
	&:after{
		content: "";
		position: absolute;
		height: 1px;
		width: 100%;
		background: #000;
		left: 0;
		bottom: 0;
	}

	.box {
		width: 146px;
		height: 170px;
		border: 3px solid $darkgrey2;
		padding: 7px 0;
		display: inline-block;
		vertical-align: middle;
		background: transparent;
		transition: background 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		-moz-transition: background 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		-o-transition: background 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		-webkit-transition: background 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);

		&:hover{
			background: $darkgrey2;
			transition: background 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530);
			-moz-transition: background 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530);
			-o-transition: background 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530);
			-webkit-transition: background 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530);

			a {
				color: $grey3;
				transition: color 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530);
			-moz-transition: color 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530);
			-o-transition: color 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530);
			-webkit-transition: color 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530);

				&:after {
					background: $grey3;
				}
			}
		}
	}
	a {
		font-family: "Exo", sans-serif;
		font-weight: 600;
		font-size: 0.8rem;
		color: $darkgrey2;
		text-transform: uppercase;
		letter-spacing: 0.08em;
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		transition: color 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		-moz-transition: color 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		-o-transition: color 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		-webkit-transition: color 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);

		&:after {
			opacity: 0;
			content: "";
			background: $black;
			position: absolute;
			bottom: 90px;
			left: 30%;
			height: 1px;
			width: 37%;
			transition: opacity 0.2s ease-out;
			-moz-transition: opacity 0.2s ease-out;
			-o-transition: opacity 0.2s ease-out;
			-webkit-transition: opacity 0.2s ease-out;
		}

		&:hover {
			&:after {
				opacity: 1;
				transition: opacity 0.4s ease-in;
				-moz-transition: opacity 0.4s ease-in;
				-o-transition: opacity 0.4s ease-in;
				-webkit-transition: opacity 0.4s ease-in;
			}
		}

		&.title {
			font-family: futura, "futura-pt", sans-serif;
			margin-right: 0;
			margin-left: 0;
			display: block;
			text-align: center;
			height: auto;
			float: none;
			font-size: 1.75rem;
			line-height: 50px;
			font-weight: 400;
			&:after {
				bottom: 0;
			}
		}

		&.submenu {
			top: 50%;
			transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			position: absolute;
			&:first-child {
				left: 30%;
			}
			&:last-of-type {
				right: 30%;
			}
		}
	}
	@include min-screen($xs) {
		display: none;
	}
	@include min-screen($md) {
		display: block;
		opacity: 1;
		text-align: center;
		position: relative;
		width: 100%;
		a {
			color: $darkgrey2;
		}
	}
}

.mobile-nav {
	@include min-screen($xs) {
		position: relative;
		display: flex;
		opacity: 1;
		width: 85%;
		margin: 0 auto;
		padding: 10px 0;
		justify-content: space-between;
	}
	@include min-screen($md) {
		display: none;
	}
	.hamburger-menu {
		width: 23px;
		height: 17px;
		align-self: center;
		cursor: pointer;
	}
	span.oneline-box {
		width: 146px;
		border: 1px solid $darkgrey2;
		height: 30px !important;
		margin: 0;
		display: inline-block;
		vertical-align: middle;

		a.title {
			@include min-screen($xs) {
				font-family: futura, "futura-pt", sans-serif;
				margin-right: 0;
				margin-left: 0;
				display: block;
				text-align: center;
				text-transform: uppercase;
				height: auto;
				float: none;
				font-size: 14px;
				line-height: 30px;
				font-weight: 400;
				&:after {
					bottom: 0;
				}
			}
		}
	}

	span.hamburger {
		transition: all 0.16s ease-out;
		-moz-transition: all 0.16s ease-out;
		-o-transition: all 0.16s ease-out;
		-webkit-transition: all 0.16s ease-out;
		width: 100%;
		position: absolute;
		height: 2px;
		width: 23px;
		margin-bottom: 5px;
		display: block;
		background-color: #000;
		right: 0;
		&.top {
			top: 0;
		}
		&.middle {
			top: 7px;
		}
		&.bottom {
			top: 15px;
		}
	}
}

.scrolled-nav {
	transition: height 0.4s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: height 0.4s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: height 0.4s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: height 0.4s cubic-bezier(0.77, 0, 0.175, 1);
	height: 0;
	position: absolute;
	overflow: hidden;
	background-color: $darkgrey2;
	margin: 0;
	top: 0;
	width: 100%;
	z-index: $zindex-nav;
	text-align: center;

	nav.nav-list {
		a {
			color: $darkgrey2;
			font-family: "Roboto", sans-serif;
			text-transform: uppercase;
			font-size: 0.75rem;
			letter-spacing: 0.08em;
			display: inline-block;
			color: #fff;
			vertical-align: middle;
			margin: 0 10px;
			transition-property: border-bottom;
			transition-duration: 1s;
			transition-timing-function: linear;
			&:hover {
				color: $grey3;
			}
			&.title {
				font-family: futura, "futura-pt", sans-serif;
				margin-right: 0;
				line-height: 0 !important;
				margin-left: 0;
				color: #fff;
				display: inline-block;
				font-size: 0.75rem;
				text-align: center;
				height: 37px;
			}
			&.submenu {
				top: 50%;
				transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				position: absolute;
				margin: 0 10px;
				&:first-child {
					left: 30%;
				}
				&:last-of-type {
					right: 30%;
				}
			}
		}
		.box {
			width: 146px;
			border: 1px solid #fff;
			height: 30px !important;
			padding: 7px 0;
			display: inline-block;
			vertical-align: middle;
		}

		@include min-screen($xs) {
			display: none;
		}
		@include min-screen($md) {
			display: block;
			opacity: 0;
			-webkit-transition-delay: 0.2s;
			-moz-transition-delay: 0.2s;
			-o-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}
	}

	.mobile-nav {
		@include min-screen($xs) {
			color: #fff;
			text-align: left;
		}
		span.title a {
			color: #fff;
		}
		span.hamburger {
			background-color: #fff;
		}
	}
}

.black-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

header.site-header {
	&.is--fixed {
		line-height: 50px;
		.site-nav {
			nav.nav-list {
				opacity: 0;
			}
		}
		.scrolled-nav {
			height: 50px;
			nav.nav-list {
				line-height: 50px;
				opacity: 1;
				-webkit-transition-delay: 0.4s;
				-moz-transition-delay: 0.4s;
				-o-transition-delay: 0.4s;
				transition-delay: 0.4s;
			}
			.oneline-box {
				border-color: #fff;
				a.title {
					color: #fff;
				}
			}
		}
	}
}

// Hovered Menu in Body Tag
.hovered-menu {
	display: none;
	opacity: 0;

	a {
		// opacity: 0;
		border-bottom: none;
	}
}

body {
	// .hovered-menu {
	// 	opacity: 0;
	// }

	&.hovered {
		.hovered-menu {
			display: flex;
			flex-direction: column;
			justify-content: center;

			width: 100%;
			opacity: 1;
			height: 100%;
			position: fixed;
			background-color: #fff;
			z-index: $zindex-nav;
			// transition: opacity 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
			// -moz-transition: opacity 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
			// -o-transition: opacity 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
			// -webkit-transition: opacity 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);

			a {
				// opacity: 1;
				font-family: "Roboto", sans-serif;
				color: $darkgrey2;
				text-transform: uppercase;
				font-size: 2rem;
				letter-spacing: 0.08em;
				display: block;
				text-align: center;
				margin-bottom: 30px;
				&:first-child {
					margin-top: 30px;
				}
			}
		}
		span.hamburger {
			&.top {
				transform: rotate(-45deg);
				top: 7px;
			}
			&.middle {
				opacity: 0;
			}
			&.bottom {
				top: 7px;
				transform: rotate(45deg);
			}
		}
	}
}