.project-image,
.food-image {
	margin: 0 auto;
	text-align: center;
	width: 90%;
	border: 1px solid $darkgrey4;
	padding: 4%;
	overflow: auto;
	background-color: #fff;

	display: flex;
	flex-direction: column;

	&.color--dark {
		background-color: $darkgrey2;
	}

	img,
	iframe {
		border: 1px solid $darkgrey4;
		margin: 0 auto;
		width: 100%;

		&.is--no-border {
			border: none
		}
	}

	iframe {
		width: 100%;
		height: 170px;

		&.is--narrow-height {
			height: 120px;
		}

		@include min-screen($sm) {
			height: 280px;

			&.is--narrow-height {
				width: 100%;
				height: 200px;
			}
		}

		@include min-screen($lg) {
			width: 640px;
			height: 480px;

			&.is--narrow-height {
				height: 360px;
			}
		}
	}

	.margin-b {
		margin-bottom: 20px;
	}

	@include min-screen($md) {
		img {
			max-width: 780px;
		}
	}

	&.inline {
		flex-wrap: wrap;

		& > * {
			@include min-screen($xs) {
				display: block;
			}
		}

		.is--phone, .is--tablet {
			width: 100%;
		}

		.is--phone {
			margin-top: 10px;
			max-width: 80px;
		}

		@include min-screen($md) {
			flex-direction: row;
			align-items: center;

			.is--tablet {
				max-width: 600px;
			}

			.is--phone {
				margin-top: 0;
				max-width: 200px;
			}
		}
	}

	p {
		margin-bottom: 0;
	}

	&--3 {
		display: flex;
		justify-content: space-around;

		img {
			width: auto;
			max-height: 400px;
			border: none;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include min-screen($md) {
			flex-direction: row;

			img {
				width: 33.33%;
				height: 100%;
				max-height: none;
				margin-bottom: 0;
			}

			img:nth-child(2) {
				margin: 0 10px;
			}
		}
	}
}

.food-image {
	p {
		@include min-screen($md) {
			padding: 0 30px;
		}
	}

	margin-bottom: 20px;
}

span.post-image {
	margin: 0;
	overflow: hidden;
	height: 300px;
	display: block;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	border-bottom: none;

	&.centered {
		background-position-y: 50%;
	}
}

.post-desc {
	padding: 6% 5%;
	width: 100%;
	height: 100%;
	max-height: 160px;
	background-color: #fff;
}

.project-description {
	overflow: auto;
	padding-bottom: 5%;
}

.desc {
	position: relative;

	span {
		display: block;
	}

	&:last-child {
		padding-top: 20px;
	}

	@include min-screen($md) {
		width: 50%;
		float: left;

		&:last-child {
			padding-top: 0;
		}
	}
}

ul {
	list-style: none;
}

.gist {
	span {
		line-height: 0;
		margin: 0;
		font-size: 10px;
	}
}