// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(199, 199, 199);
$lightgrey: rgb(241, 241, 241);
$grey2: rgb(245, 245, 245);
$grey3: rgb(229, 228, 224);
$grey4: rgb(227, 228, 230);
$grey5: rgb(240, 240, 240);
$grey6: rgb(210, 210, 210);
$darkgrey: rgb(52, 53, 58);
$darkgrey2: rgb(40, 40, 40);
$darkgrey3: rgb(19, 19, 19);
$darkgrey4: rgb(65, 65, 67);

// Media Queries Breakpoints
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;


// Z INDEX
$zindex-mask: 5;
$zindex-nav: 10;