		<footer class="footer">
			<div class="container">
				<div class="copy-left">&copy; 2016 - 2018 Jeesun Kim<br/>All rights reserved</div>
				<div class="copy-right">
					<a href="https://www.linkedin.com/in/jeesunkim" target="_blank">LinkedIn</a>
					<a href="https://github.com/jeesunikim" target="_blank">Github</a>
					<a href="https://twitter.com/jeesunikim" target="_blank">Twitter</a>
					<a href="mailto:jeesunikim@gmail.com?Subject=Hello%20Jee" target="_top">Contact</a>
				</div>
			</div>
		</footer>
		<script src="{{ site.baseurl }}/assets/js/app.bundle.js"></script>
	</body>
</html>