		<footer class="footer">
			<div class="container">
				<div class="copy-left">Copyright Jeesun</div>
				<div class="copy-right">
					<a href="https://www.linkedin.com/in/jeesunkim" target="_blank">LinkedIn</a>
					<a href="https://github.com/jeesunikim" target="_blank">Github</a>
					<a href="https://twitter.com/jeesunikim" target="_blank">Twitter</a>
				</div>
			</div>
		</footer>
		<script src="{{ site.baseurl }}/assets/js/lib/lib.js"></script>
		<script src="{{ site.baseurl }}/assets/js/main.js"></script>
	</body>
</html>