<div class="site-nav">
    <nav class="nav-list">
        <a href="/about">About</a>
        <a class="title" href="/code">Code</a>
        <a class="title" href="/">&amp;&amp;</a>
        <a class="title" href="/food">Food</a>
        <a href="/code/work">Work</a>
    </nav>
    <a class="mobile-nav">
        <span class="title">Code &amp;&amp; Food</span>
        <div class="inner">
            <span class="hamburger top"></span>
            <span class="hamburger middle"></span>
            <span class="hamburger bottom"></span>
        </div>
    </a>
</div>
<div class="scrolled-nav black-bg">
    <nav class="nav-list">
        <a href="/about">About</a>
        <a class="title" href="/code">Code</a>
        <a class="title" href="/">&amp;&amp;</a>
        <a class="title" href="/food">Food</a>
        <a href="/code/work">Work</a>
    </nav>
    <a class="mobile-nav">
        <span class="title">Code &amp;&amp; Food</span>
        <div class="inner">
            <span class="hamburger top"></span>
            <span class="hamburger middle"></span>
            <span class="hamburger bottom"></span>
        </div>
    </a>
</nav>
<div class="hovered-menu">
</div>