<div class="site-nav">
    <nav class="nav-list">
        <a class="submenu" href="/about" data-title="About">About</a>
        <div class="box">
            <a class="title" href="/code" data-title="code">Code</a>
            <a class="title" href="/" data-title="all">&amp;&amp;</a>
            <a class="title" href="/food" data-title="food">Food</a>
        </div>
        <a class="submenu" href="/code/work" data-title="work">Work</a>
    </nav>
    <div class="mobile-nav">
        <!-- <span class="title"><a href="/">Code &amp;&amp; Food</a></span> -->
        <span class="oneline-box">
            <a class="title" href="/">Code &amp;&amp; Food</a>
        </span>
        <div class="hamburger-menu">
            <span class="hamburger top"></span>
            <span class="hamburger middle"></span>
            <span class="hamburger bottom"></span>
        </div>
    </div>
</div>
<div class="scrolled-nav black-bg">
    <nav class="nav-list">
        <a class="submenu" href="/about" data-title="About">About</a>
        <div class="box">
            <a class="title" href="/code" data-title="Code">Code</a>
            <a class="title" href="/" data-title="Code && Food">&amp;&amp;</a>
            <a class="title" href="/food" data-title="Food">Food</a>
        </div>
        <a class="submenu" href="/code/work" data-title="Work">Work</a>
    </nav>
    <div class="mobile-nav">
        <span class="oneline-box">
            <a class="title" href="/">Code &amp;&amp; Food</a>
        </span>
        <div class="hamburger-menu is--scrolled">
            <span class="hamburger top"></span>
            <span class="hamburger middle"></span>
            <span class="hamburger bottom"></span>
        </div>
    </div>
</nav>