<div class="site-nav">
    <nav class="nav-list">
        <a class="submenu" href="/about">About</a>
        <div class="box">
            <a class="title" href="/code" data-filtered="code">Code</a>
            <a class="title" href="/" data-filtered="all">&amp;&amp;</a>
            <a class="title" href="/food" data-filtered="food">Food</a>
        </div>
        <a class="submenu" href="/code/work" data-filtered="work">Work</a>
    </nav>
    <div class="mobile-nav">
        <!-- <span class="title"><a href="/">Code &amp;&amp; Food</a></span> -->
        <span class="oneline-box">
            <a class="title" href="/">Code &amp;&amp; Food</a>
        </span>
        <div class="inner">
            <span class="hamburger top"></span>
            <span class="hamburger middle"></span>
            <span class="hamburger bottom"></span>
        </div>
    </div>
</div>
<div class="scrolled-nav black-bg">
    <nav class="nav-list">
        <a class="submenu" href="/about">About</a>
        <div class="box">
            <a class="title" href="/code" data-filtered="code">Code</a>
            <a class="title" href="/" data-filtered="all">&amp;&amp;</a>
            <a class="title" href="/food" data-filtered="food">Food</a>
        </div>
        <a class="submenu" href="/code/work" data-filtered="work">Work</a>
    </nav>
    <div class="mobile-nav">
        <!-- <span class="title"><a href="/">Code &amp;&amp; Food</a></span> -->
        <span class="oneline-box">
            <a class="title" href="/">Code &amp;&amp; Food</a>
        </span>
        <div class="inner">
            <span class="hamburger top"></span>
            <span class="hamburger middle"></span>
            <span class="hamburger bottom"></span>
        </div>
    </div>
</nav>