.page-content,
article.post {
	margin: 0 5% 5%;
	overflow: auto;
	position: relative;
}

.wrapper {
	@include min-screen($xs) {
		margin-top: 130px;
	}
	@include min-screen($md) {
		margin-top: 240px;
	}
	overflow: auto;
	border-top: 1px solid #000;
	&.post {
		@include min-screen($xs) {
			margin-top: 130px;
		}
		padding: 5% 5% 0;
		margin: 240px 1% 1.5%;
		@include min-screen($md) {
			margin-top: 240px;
		}
		p {
			margin: 20px 0;
		}
	}
}

a {
	color: #000;
}

ul.posts {
	position: relative;
	list-style: none;
	margin-bottom: 2.5%;
	li.post {
		margin: 2.5% 1.5% 1.5%;
		height: 460px;
		float: left;
		opacity: 1;
		background-color: rgb(254, 239, 234);
		p {
			font-size: 11px;
		}
		&:nth-child(n) {
			background-color: rgb(254, 239, 234);
			a,
			p {
				color: rgb(71, 73, 70);
			}
		}

		&:nth-child(2n) {
			background-color: $grey6;
			a,
			p {
				color: #000;
			}
		}

		&:nth-child(3n) {
			background-color: rgb(244, 244, 246);
			a,
			p {
				color: #000;
			}
		}

		&.food {
			padding: 0;
			overflow: hidden;
			img {
				position: absolute;
				width: 100%;
			}
			.post-desc {
				background-color: $darkgrey2;
				p,
				a {
					color: #fff;
				}
				a {
					border-bottom: 1px dotted #fff;
				}
			}
		}
		@include min-screen($xs) {
			width: 100%;
		}
		@include min-screen($md) {
			width: 47%;
		}
		@include min-screen($lg) {
			width: 30%;
		}
	}
}