.page-content, article.post {
	margin: 2.5% 5% 5%;
	top: 50px;
}

article.post {
	padding: 5% 3%
}

a { color: #000; }

ul.posts {
	position: relative;
	list-style: none;
	li.post {
		width: 33%;
		padding: 5%;
		float: left;
		&:nth-child(3n+1) {
			clear: both;
		}
		&:last-of-type {
			float: none;
		}
		p { 
			font-size: .75rem; 
			color: $grey;
		}
	}

}