h1 {
	font-family: "essonnes-display", serif;
	text-align: center;
	font-size: 3.25rem;
	font-weight: 400;
	
}

h2, p, span, .footer {
	font-family: 'Roboto', sans-serif;
}

.mobileNav, .footer, nav.site-nav a { font-size: .75rem; color: #fff;}

a {
	text-decoration: none;
}