h2,
p,
span,
.footer {
	font-family: "Roboto", sans-serif;
}

.footer,
nav.site-nav a {
	font-size: 0.75rem;
	color: #fff;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted $darkgrey2;
}

a.image-url {
	text-decoration: none;
	border-bottom: none;
}

span,
p,
h2 {
	&.korean {
		font-family: "source-han-sans-korean", sans-serif;
	}
}

h2.korean {
	display: inline-block;
}

span,
p,
ul {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	font-weight: 200;
	line-height: 25px;
	margin: 2% 0;
	letter-spacing: 0.08em;
}

h2 {
	font-family: "essonnes-display", serif;
	font-size: 2.25rem;
	margin-bottom: 4%;
	font-weight: 400;
	color: $darkgrey2;
}