.footer {
	background-color: #000;
	height: 144px;
	overflow: auto;
	width: 100%;
	position: relative;
	.container {
		height: 100%;
		.copy-left { 
			float: left; 
			top: 50%;
			left: 5%;
			transform: translateY(-50%);
		}
		.copy-right { 
			float: right; 
			right: 5%;
			top: 50%;
			transform: translateY(-50%);
		}
		a { 
			color: #fff;
			display: block;
			line-height: 20px;
		}
	}
}