.footer {
	background-color: $grey3;
	color: $darkgrey2;
	height: 144px;
	overflow: hidden;
	width: 100%;
	position: relative;
	.container {
		border-top: 1px solid #000;
		width: 90%;
		margin: 0 auto;
		height: 100%;
		.copy-left,
		.copy-right {
			@include min-screen($xs) {
				float: none;
				text-align: center;
				display: block;
				top: 22%;
				margin-bottom: 7%;
			}
		}
		.copy-left {
			@include min-screen($md) {
				float: left;
				text-align: left;
				top: 50%;
				left: 5%;
				transform: translateY(-50%);
			}
		}
		.copy-right {
			@include min-screen($md) {
				float: right;
				right: 5%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		a {
			color: $darkgrey2;
			display: inline-block;
			line-height: 20px;
			&:nth-child(even) {
				margin: 0 25px;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}