nav.mobileNav { 
	height: auto;
	overflow: auto;
	position: fixed;
	background-color: #000000;
	padding: 12px 10px;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10;
	a {
		font-family: "Roboto",sans-serif;
		color: #fff;
		font-weight: 200;
		font-size: .75rem;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		&:nth-child(2) {
			padding: 0 50px;
		}
	}
	@include min-screen($md) {
		display: none;
		&.show {
			display: block;
		}
	}
}