nav.site-nav {
	@include min-screen($xs) {
		display: none;
	}
	@include min-screen($md) {
		display: block;
		text-align: center;
		margin: 25px 0;
		a {
			font-family: 'Roboto', sans-serif;
			color: #000;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			display: inline-block;
			margin: 0 2%;
			line-height: 75px;
			vertical-align: middle;
		}
	}
}